body {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.game-header {
    padding-top: 2%;
    font-size: 4rem;
}

.menu-question {
    font-size: 2rem;
}