body {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.game-header {
  margin-top: 5%;
  font-size: 4rem;
}

.menu-question {
  margin-top: 4%;
  font-size: 2rem;
}

.button {
  background: white;
  color: black;
  padding: 3%;
}

.btn {
  /* To make the button as wide as Bootstrap's .col elements */
  width: 100%;
}

.modal-content {
  text-align: left;
  background: #1f1f1f;
}

.col {
  margin-bottom: 3%;
}

#audio {
  display: none;
}

a.code-link {
  color: black;
  text-decoration: none;
}